<div class="filter-container">
  <div class="filter-item">
    <label for="name">Repository Name:</label>
    <input type="text" [formControl]="name" id="name"  (input)="onFilterChange()"
      placeholder="Filter by name" />
<!-- [(ngModel)]="name" -->
    <label for="language">Programming Language:</label>
    <input type="text" [formControl]="language" id="language"  (input)="onFilterChange()"
      placeholder="Filter by language" />
    <!-- [(ngModel)]="language" -->
  </div>
</div>

<app-repository></app-repository>
<router-outlet></router-outlet>
